/* Estilos do feed e postagens */
.feed-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  background-color: #d5f6ff;
  padding: 20px 0; /* Adiciona espaço ao redor do conteúdo */
}

.postagem {
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #d5f6ff;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.informacoes {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #faaf83;
  border-bottom: 1px solid #d5f6ff;
}

.nome-do-usuario {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
}

.usuario {
  display: flex;
  align-items: center;
}

.miniaturaperfil {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.miniaturaperfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.capa-post {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.conteudo-da-postagem {
  padding: 10px 20px;
}

.descricao {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.span {
  font-weight: bold;
  margin-right: 5px;
}

.reacoes-icones {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #faaf83;
  background: transparent;
  border: none;
}

.icon:hover {
  color: #fd833c;
}

/* Estilos para dispositivos de tela menores */
@media screen and (max-width: 600px) {
  .postagem {
    width: 100%; /* Ocupa toda a largura disponível */
  }

  .informacoes {
    padding: 10px;
  }

  .nome-do-usuario {
    font-size: 14px; /* Reduzindo o tamanho da fonte */
  }

  .descricao {
    font-size: 14px; /* Reduzindo o tamanho da fonte */
  }

  .icon {
    font-size: 18px; /* Reduzindo o tamanho do ícone */
  }
}

@media screen and (max-width: 240px) {
  .informacoes {
    padding: 10px; /* Reduzindo o padding */
  }

  .nome-do-usuario {
    font-size: 14px; /* Reduzindo o tamanho da fonte */
  }

  .descricao {
    font-size: 14px; /* Reduzindo o tamanho da fonte */
  }

  .icon {
    font-size: 18px; /* Reduzindo o tamanho do ícone */
  }
}


