* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:focus {
  outline: none;
}

.menu-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-width: 2500px;
  background: #64B3CC;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  padding: 10px;
}

.menu-links {
  width: 100%;
  max-width: 2500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Mantém os elementos espaçados */
  padding: 0 20px; /* Adiciona um pouco de espaçamento nas laterais */
}

.logo-e-busca-container {
  display: flex;
  align-items: center;
  position: relative; /* Necessário para posicionar a busca centralizada */
  width: 100%; /* Para ocupar o espaço disponível */
}

.logteste {
  width: auto;
  max-width: 250px;
  margin-right: 20px; /* Ajuste para espaço entre logo e busca */
  position: absolute; /* Permite que a logo fique fixa na sua posição */
  left: 10px; /* Ajuste conforme necessário */
}

.busca-topo {
  width: 300px;
  height: 35px;
  background-color: #c3f1ff;
  border: 1px solid #c3f1ff;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto; /* Centraliza horizontalmente dentro do container */
}

.busca-topo::placeholder {
  color: rgb(194, 187, 187);
}

.icon-container {
  display: flex;
  align-items: center;
  position: absolute; /* Permite que os ícones fiquem fixos na sua posição */
  right: 10px; /* Ajuste conforme necessário */
}

/* Para telas menores que 1300px */
@media screen and (max-width: 1300px) {
  .logteste {
    left: 10px; /* Garante que a logo fique visível */
    margin-right: 10px; /* Ajusta o espaçamento para telas menores */
  }

  .busca-topo {
    width: 250px; /* Reduz a largura do campo de busca */
  }

  .icon-container {
    right: 10px; /* Garante que os ícones fiquem visíveis */
    margin-right: 10px;
  }
}

/* Para telas menores que 480px */
@media screen and (max-width: 480px) {
  .menu-links {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .logo-e-busca-container {
    flex-direction: column; /* Coloca a logo e a busca em coluna */
    align-items: center;
    width: 100%; /* Garante que ocupe toda a largura */
  }
  
  .logteste {
    position: relative; /* Remove o posicionamento absoluto */
    left: auto; /* Reseta a posição */
    margin-bottom: 10px; /* Espaçamento abaixo da logo */
    width: 100%;
    max-width: 200px; /* Ajusta o tamanho da logo */
  }

  .busca-topo {
    width: 80%; /* Ajusta a largura para caber em telas menores */
  }

  .icon-container {
    position: relative; /* Remove o posicionamento absoluto */
    right: auto; /* Reseta a posição */
    margin-top: 10px; /* Espaçamento acima dos ícones */
  }
}



