/* Postagem */

.feed-container {
  margin: 0 auto;
  background-color: #d5f6ff;
}


.postagem-container {
  background-color: #d5f6ff;
  margin: 0 auto;
  margin-top: 550px;
  display: flex;
  justify-content: center; /* Centralizar na horizontal */
  align-items: center; /* Centralizar na vertical */
  height: calc(100vh - 200px); /* Ajustar a altura para ocupar todo o espaço menos a altura do cabeçalho */
}

.postagem {
  margin: 0 auto;
  width: 70%; /* Ocupar toda a largura do contêiner */
  max-width: 1000px; /* Definir uma largura máxima para a postagem */
  background-color: #d5f6ff;
  border: 1px solid #d5f6ff;
  padding: 20px;
  margin-bottom: 40px; /* Adicionar margem inferior para criar espaço entre as postagens */
}

.informacoes {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FAAF83;
  border: none;
  border-radius: 80% 80% 0 0; /* Defina o border-radius aqui se desejar */
}

.informacoes .nome-do-usuario {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-top: 10px;
  margin-left: 15px;
}

.informacoes .usuario {
  display: flex;
  align-items: center;
}

.informacoes .miniaturaperfil {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 55px;
  padding: 0;
}

.miniaturaperfil img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:50%;
  border: 2px solid #fff;
}

.informacoes .miniaturaperfil img {
  border: none;
}

.capa-post {
  width: 100%;
  min-width: auto;
  height: auto;
  object-fit: cover;
}

.conteudo-da-postagem {
  width: 100%; /* Definir a largura para ocupar toda a largura do contêiner pai */
  padding: 10px;
}

.descricao {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.tempo-post {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}


.reacoes-icones {
  width: 100%; /* Definir a largura para ocupar toda a largura do contêiner pai */
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reacoes-icones .icon {
  height: 25px;
  margin-right: 10px;
  cursor: pointer; /* Adiciona o cursor de ponteiro para indicar que é clicável */
  background: transparent;
  border: none;
  font-size: 20px; /* Ajusta o tamanho do emoji */
  color:#FAAF83
}

.reacoes-icones .icon:hover {
  opacity: 0.8; /* Reduz um pouco a opacidade quando o cursor está sobre o botão */
}

.descricao{
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;

}

.span{
  color:rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-right: 1px;
}

.tempo-post{
  color:rgba(0, 0, 0, 0.5) ;
  font-size: 12px;
}

.reacoes-icones{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
  margin-right: 40px;
}

.reacoes-icones .icon{
  height: 25px;

}



/* Para telas menores que 576px (exemplo: smartphones em modo retrato) */
@media screen and (max-width: 576px) {
  .postagem {
    width: 90%; /* Reduz a largura da postagem para ocupar 90% da largura da tela */
    margin: 50px auto; /* Define margem superior e inferior para 50px e centraliza horizontalmente */
  }

  .postagem .conteudo-da-postagem {
    width: 100%; /* Ajustando a largura do conteúdo da postagem para ocupar 100% */
  }

  .informacoes .nome-do-usuario {
    font-size: 12px; /* Reduz o tamanho do nome do usuário nas postagens */
  }

  .comentario-msg {
    width: 60%; /* Reduz a largura do campo de comentário */
  }

  .reacoes-icones {
    margin-top: -10px; /* Ajusta a margem superior das reações nas postagens */
  }

  .capa-post {
    width: 100%; /* Garantindo que a imagem da postagem ocupe toda a largura */
  }
}
